{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}

    {{ block ("navbar", "navbar.html.twig") }}

    <h1>Usuario</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                {#<th>Password</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.Username }}</td>
                <td>{{ usuario.email }}</td>
                {% if "ROLE_ADMIN" in usuario.roles %}
                <td>Administrador</td>
                {% else %}
                <td>Usuario comum</td>
                {% endif %}

                {#<td>{{ usuario.password }}</td>#}
                <td>
                    <a class="btnsmall" href="{{ path('app_usuario_show', {'id': usuario.id}) }}">Mostrar</a>
                    <a class="btnsmall" href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="redirect_link btn" href="{{ path('app_register') }}">Criar Novo</a>
{% endblock %}
