{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}

    <h1>Usuario</h1>

    <div class="card-body table-responsive p-0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                {#<th>Password</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.Username }}</td>
                <td>{{ usuario.email }}</td>
                {% if "ROLE_ADMIN" in usuario.roles %}
                <td>Administrador</td>
                {% else %}
                <td>Usuario comum</td>
                {% endif %}

                {#<td>{{ usuario.password }}</td>#}
                <td>
                    <a class="btnsmall" href="{{ path('app_usuario_show', {'id': usuario.id}) }}">Mostrar</a>
                    <a class="btnsmall" href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="redirect_link btnbig" href="{{ path('app_register') }}">Criar Novo</a>
{% endblock %}
