{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block logo_large %}<img style="border-radius:50%; padding-top:0px" src="https://pbs.twimg.com/profile_images/1500877006506012677/zOh3xtKr_400x400.png">{% endblock %}
{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}
{% block page_title %} Usuario {% endblock %}
{% block page_subtitle %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                {% if "ROLE_ADMIN" in usuario.roles %}
                <td>Administrador</td>
                {% else %}
                <td>Usuario comum</td>
                {% endif %}
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            {% if office %}
            <tr>
                <th>Office</th>
                
                <td class="list-group">
                {% for offices in office %}
                    {{ offices.nome }}
                {% endfor %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a class ="btn btn-primary" href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">Editar</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
