{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}

    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                {% if "ROLE_ADMIN" in usuario.roles %}
                <td>Administrador</td>
                {% else %}
                <td>Usuario comum</td>
                {% endif %}
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            {% if office %}
            <tr>
                <th>Office</th>
                <td>{{ office.id }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a class ="redirect_link btnbig" href="{{ path('app_usuario_index') }}">Retornar a Lista</a>
    <a class ="redirect_link btnbig" href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">Editar</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
