{% extends '@AdminLTE/layout/security-layout.html.twig' %}

{% block title %}Login{% endblock %}
{% block page_title %} Login {% endblock %}
{% block logo_login %}<img style="border-radius:50%; padding-top:0px" src="{{ asset('build/images/sibrax_logo.png') }}">{% endblock %}


{% block login_form %}

<form class="login_form" method="post">
{% if app.user %}
    <div class="mb-3">
        Voce esta logado como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}
<h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Senha</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Lembre-se de mim
            </label>
        </div>
    

    <button class="btn btn-lg btn-primary" type="submit" style="margin: 20px;">
        Entrar
    </button>
</form>

<a href="{{ path('app_register') }}">Criar Novo Usuario</a>

{% endblock %}