{% extends 'base-avanzu.html.twig' %}

{% block title %}Funcionario{% endblock %}

{% block page_title %} Funcionario {% endblock %}

{% block page_content %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Salário</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.email }}</td>
                <td>{{ funcionario.phone }}</td>
                <td>{{ funcionario.salario }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_funcionario_edit', {'id': funcionario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class =" btn btn btn-primary" href="{{ path('app_funcionario_new') }}">Criar Novo</a>
{% endblock %}
