{% extends 'base.html.twig' %}

{% block title %}Funcionario{% endblock %}

{% block body %}

    {{ block ("navbar", "navbar.html.twig") }}
    <h1>Funcionario</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.email }}</td>
                <td>{{ funcionario.phone }}</td>
                <td>{{ funcionario.salario }}</td>
                <td>
                    <a class="btnsmall" href="{{ path('app_funcionario_show', {'id': funcionario.id}) }}">Mostrar</a>
                    <a class="btnsmall" href="{{ path('app_funcionario_edit', {'id': funcionario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="redirect_link btn" href="{{ path('app_funcionario_new') }}">Criar Novo</a>
{% endblock %}
