{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Escritorio{% endblock %}

{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}
{% block page_title %} Escritorio {% endblock %}
{% block page_subtitle %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Descricao</th>
                <th>CNPJ</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for escritorio in escritorios %}
            <tr>
                <td>{{ escritorio.id }}</td>
                <td>{{ escritorio.nome }}</td>
                <td>{{ escritorio.phone }}</td>
                <td>{{ escritorio.descricao }}</td>
                <td>{{ escritorio.cnpj }} </td>
                <td>
                    <a class="btnsmall" href="{{ path('app_escritorio_show', {'id': escritorio.id}) }}">Mostrar</a>
                    <a class="btnsmall" href="{{ path('app_escritorio_edit', {'id': escritorio.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="redirect_link btn btnbig" href="{{ path('app_escritorio_new') }}">Criar Novo</a>
{% endblock %}
