{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}

    <h1>Empresa</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Descricao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.phone }}</td>
                <td>{{ empresa.descricao|u.truncate(30) }}</td>
                <td>
                    <a class="btnsmall" href="{{ path('app_empresa_show', {'id': empresa.id}) }}">Mostrar</a>
                    <a class="btnsmall" href="{{ path('app_empresa_edit', {'id': empresa.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="redirect_link btn btnbig" href="{{ path('app_empresa_new') }}">Criar Novo</a>
{% endblock %}
