{% extends 'base-avanzu.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block page_title %} Empresa {% endblock %}

{% block page_content %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Descrição</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.phone }}</td>
                <td>{{ empresa.descricao|u.truncate(30) }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_empresa_edit', {'id': empresa.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class =" btn btn btn-primary" href="{{ path('app_empresa_new') }}">Criar Novo</a>
{% endblock %}
