{% extends 'base-avanzu.html.twig' %}

{% block title %}Exame{% endblock %}

{% block page_title %} Exame {% endblock %}
{% block page_content %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data do Exame</th>
                <th>Procedimento Realizado</th>
                <th>Observação</th>
                <th>Ordem do Exame</th>
                <th>Resultado</th>
                <th>Vencimento</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for exame in exames %}
            <tr>
                <td>{{ exame.id }}</td>
                <td>{{ exame.dtExm ? exame.dtExm|date('d-m-Y') : '' }}</td>
                <td>{{ exame.procRealizado }}</td>
                <td>
                    {% if exame.observacao is null %}
                    Sem Observação
                    {% else %}
                    {{ exame.observacao }}
                    {% endif %}
                </td>
                <td>{{ exame.ordemExm }}</td>
                <td>{{ exame.resultado }}</td>
                <td>{{ exame.vencimento ? exame.vencimento|date('d-m-Y') : '' }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_exame_edit', {'id': exame.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Nenhum Exame Encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class =" btn btn btn-primary" href="{{ path('app_exame_new') }}">Criar Novo</a>
{% endblock %}
