<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        
            {{ encore_entry_script_tags('app') }}

    <script>
    jQuery(document).ready(function(){
        var $wrapper = $('.js-exame-wrapper');
        $wrapper.on('click', '.js-remove-exame', function(e) {
            e.preventDefault();

            $(this).closest('.js-exame-item')
                    .remove();
        });

        $wrapper.on('click', '.js-add-exame', function(e) {
            e.preventDefault();
            var y = document.createElement("H3");
            var t = document.createTextNode("Exame");
            y.appendChild(t);
                // Get the data-prototype explained earlier
                var prototype = $wrapper.data('prototype');
                // get the new index
                var index = $wrapper.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                $wrapper.data('index', index + 1);
                // Display the form in the page before the "new" link
                $(this).before(newForm);
            });
    
    });

    </script>

        {% endblock %}
</head>

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.dtAso) }}
    {{ form_row(form.tipo) }}
    {{ form_row(form.resultado) }}
    {{ form_row(form.empresa) }}
    {{ form_row(form.funcionario) }}
    {{ form_row(form.medico_aso) }}
    {{ form_row(form.medico_pcmso) }}
    <div class="js-exame-wrapper"
        data-prototype="{{ form_widget(form.exames.vars.prototype)|e('html_attr') }}"
        data-index="{{form.exames|length}}"
        >
        {% for exame in form.exames %}
            <br>

            <h3 id="heading-exame">Exame</h3>
            <div class="js-exame-item">
            {% if app.request.attributes.get('_route') != 'app_aso_new' %}
                <a href="#" class="js-remove-exame">
                    <i class="fa fa-trash"></i>
                </a>
            {% endif %}
            {{ form_row(exame) }}
            <br>
            </div>
        {% endfor %}
        <a href="#" class="js-add-exame">
            Add Exame
        </a>
    </div>
    {{ form_rest(form) }}
    
    <button class="btn btn-primary">{{ button_label|default('Criar') }}</button>
    <a class =" btn btn btn-primary" href="{{ path('app_aso_index') }}">Retornar a Lista</a>
{{ form_end(form) }}
</div>