{% extends 'base-avanzu.html.twig' %}

{% block title %}Aso{% endblock %}

{% block page_title %} ASO {% endblock %}

{% block page_content %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data do ASO</th>
                <th>Tipo do Exame</th>
                <th>Resultado</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for aso in asos %}
            <tr>
                <td>{{ aso.id }}</td>
                <td>{{ aso.dtAso ? aso.dtAso|date('d-m-Y') : '' }}</td>
                <td>{{ aso.tipo }}</td>
                <td>{{ aso.resultado }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_aso_edit', {'id': aso.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class =" btn btn btn-primary" href="{{ path('app_aso_new') }}">Criar Novo</a>
{% endblock %}
